<!DOCTYPE HTML>
<html>

<head>
	<title> Shortit | {% block title %}Shorten that url{%endblock title %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">

	<style>
	 body{
	 	background-color: #053102;
	 	background-image: url('https://www.icelandtravel.is/servlet/file/store5085/item922008/version3/Ice_Cave_Crystal_Cave_Dennis.JPG');
	 	background-size: cover;
	 }
}

</style>
</head>

<body>

<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

         

          <main role="main" class="inner cover">
          	{% block content%}
			{%endblock content%}
          </main>

          
        </div>

      </div>

    </div>



</body>
</html>

		